@model IList<Xync.Utils.Event>
<div class="card app-event-mapping">
    <div class="card-header">
        <small class="text-uppercase">Hey! What is going on?</small>
        <div class="btn-group float-right">
            <button id="btnRefreshErrors" class="btn btn-sm btn-light rounded-circle text-muted">
                <i class="fa fa-sync"></i>
            </button>
            <button class="btn btn-sm btn-light rounded-circle text-muted">
                <i class="fa fa-save"></i>
            </button>
            <button class="btn btn-sm btn-light rounded-circle text-muted">
                <i class="fa fa-check-circle"></i>
            </button>

            <div class="btn-group ml-2">
                <button class="btn btn-sm rounded-circle text-primary shadow-none" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a  id="btnDeleteAllErrors" class="dropdown-item" href="#">Delete All <i class=" text-danger fa fa-trash"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-hover table-sm app-table app-table--status">
            <thead>
                <tr>
                    <th width="70">#</th>
                    <th width="140">Title</th>
                    <th>Message</th>
                    <th width="20"></th>
                    <th width="20"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Any())
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        var error = Model[i];
                        <tr class="tr-danger">
                            <td>@(i + 1)</td>
                            <td title="@error.Type">@error.Title</td>
                            <td title="@error.Message">
                                <span>@error.Message</span>
                            </td>
                            <td>
                                <button title="delete this error" data-id="@error.Id" class="btn-delete-error btn btn-outline-light btn-sm rounded-circle btn-delete"><i class="fa fa-trash text-danger"></i></button>
                            </td>
                            <td>
                                <button title="copy to clipboard" data-error="@error.Message" class="btn-copy-error btn btn-outline-light btn-sm rounded-circle btn-delete"><i class="fa fa-copy text-primary"></i></button>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
