@model IList<Xync.Utils.Event>
@if (Model.Any())
{
    for (int i = 0; i < Model.Count; i++)
    {
        var error = Model[i];
        <tr class="@(error.MessageType==Xync.Utils.Message.MessageType.Error?"tr-danger":"tr-success")">
            <td title="@error.Id">@(i + 1)</td>
            <td title="@error.Type">@error.Title</td>
            <td title="@error.Message">
                <span>@error.Message</span>
            </td>
            <td>
                <button title="delete this error" data-id="@error.Id" class="btn-delete-error btn btn-outline-light btn-sm rounded-circle btn-delete"><i class="fa fa-trash text-danger"></i></button>
            </td>
            <td>
                <button title="copy to clipboard" data-error="@error.Message" class="btn-copy-error btn btn-outline-light btn-sm rounded-circle btn-delete"><i class="fa fa-copy text-primary"></i></button>
            </td>
        </tr>
    }

    <tr>
        <th colspan="5">
            <div class="text-center"><a href="#" id="btnLoadMoreEvents" data-page="0" data-count="20">Load More</a></div>
        </th>
    </tr>
}
else
{
    <tr>
        <td colspan="5" class="text-center no-more-events">No more events to show</td>
    </tr>
    <script>
        $('#btnLoadMoreEvents').remove();
    </script>
}