@model IList<Xync.Utils.Event>
@if (Model.Any())
{
    for (int i = 0; i < Model.Count; i++)
    {
        var error = Model[i];
        <tr class="@(error.MessageType==Xync.Utils.Message.MessageType.Error?"tr-danger":"tr-success")">
            <td title="@error.Id">@((Convert.ToInt32(ViewBag.ErrorCount) * (Convert.ToInt32(ViewBag.ErrorPage)) + 1) + i)</td>
            <td title="@error.CreatedDateTime.ToString("dd-MMM-yyyy hh:mm")">@error.Title</td>
            <td title="@error.Type">
                <span>@error.Message</span>
            </td>
            <td>
                <button title="delete this error" data-id="@error.Id" class="btn-delete-error btn btn-outline-light btn-sm rounded-circle btn-delete"><i class="fa fa-trash text-danger"></i></button>
            </td>
            <td>
                @if (error.MessageType == Xync.Utils.Message.MessageType.Error)
                {

                    <button title="copy to clipboard" data-error="@error.StackTrace" class="btn-copy-error btn btn-outline-light btn-sm rounded-circle btn-delete"><i class="fa fa-copy text-primary"></i></button>

                }
            </td>
        </tr>
    }

    <tr>
        <th colspan="5">
            <div class="text-center btn-load-more-events"><a href="#" id="btnLoadMoreEvents" data-page="@ViewBag.ErrorPage" data-count="@ViewBag.ErrorCount">Load More</a></div>
        </th>
    </tr>
}
else
{
    <tr>
        <td colspan="5" class="text-center no-more-events">No more events to show</td>
    </tr>
    <script>
        $('.btn-load-more-events').remove();
    </script>
}